.homepage {
  width: 100vw;
}

.homepage header {
  width: 100vw;
  background-color: aqua;
}

.homepage div {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.homepage ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.homepage li {
  list-style: none;
}

.active {
  color: red;
}
